@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Bienvenue, démarrez ici de nouveaux projets et retrouvez vos collaborateurs.</p>
    <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Profil", "Index", "Personnes") </a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vous êtes promoteur et désirez démarrer un projet ? </h2>
        <p>
            Inscrivez-vous ici et lancez votre projet
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Inscription", "Index", "Personnes") </a></p>
    </div>
    <div class="col-md-4">
        <h2>Votre Espace</h2>
        <p>Retrouvez ici votre espace personnalisé.</p>
        <p><a class="btn btn-default"  @Html.ActionLink("Accéder", "Index", "Projets") <img src="~/Content/architecture-3d-model.jpg" width="300" /></a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Past Projects</h2>
        @*<p>Projets participants</p>*@
		<p><img src="~/Content/villa-hotel-3d-model-max.jpg" width="300" /> </p>
    </div>
</div>